@charset "UTF-8";

:root {
	--color-default: white;
	--color-correct: #2ecc71;
	--color-misplaced: #f1c40f;
	--color-incorrect: #7f8c8d;
	--foreground-primary: black;
	--foreground-secondary: #000000aa;
	--foreground-tertiary: #00000088;
	--background-primary: #eeeef1;
	--background-secondary:white;
}

.darkMode {
	--color-default: #212124;
	--color-correct: #249e57;
	--color-misplaced: #cca60c;
	--color-incorrect: #270909;
	--foreground-primary: white;
	--foreground-secondary: #ffffffc2;
	--foreground-tertiary: #ffffff5a;
	--background-primary: #161618;
	--background-secondary:#212124;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
	touch-action: manipulation;
	color: var(--foreground-secondary);
	transition: color 0.25s ease-out;
	transition: background-color 0.25s ease-out;
}

body {
	background-color: var(--background-primary);
}

h1, h2, h3, h4, h5, h6, h1 span {
	color: var(--foreground-primary);
}

button {
	background-color: var(--background-secondary);
	color: var(--foreground-secondary);
}

.header {
	text-align: center;
	padding: 20px 0;
}

.header * {
	margin: 5px;
}

#board, #keyboard, #board .row, #keyboard .row {
	display: flex;
	align-items:center;
}

#board, #board .row {
	gap: 5px;
}

#keyboard, #keyboard .row {
	gap: 3px;
}

#board, #keyboard {
	flex-direction: column;
	margin: 10px 0;
}

#board .row, #keyboard .row {
	flex-direction: row;
}

.letter {
	background-color: var(--color-default);
	text-align: center;
	border-radius: 5px;
	border: 2px solid var(--foreground-tertiary);
}

#board .letter {
	box-sizing: border-box;
	font-size: 25px;
	height: 45px;
	width: 45px;
	padding: 0;
}

#keyboard {
	text-align: center;
	vertical-align: middle;
}

#keyboard div {
	display: flex;
	justify-content: center;
}

#keyboard .letter {
	display: block;
	font-size: 16px;
	padding: 5px 7px;
	min-width: 32px;
}

#keyboard .letter:hover {
	cursor: pointer;
}


.letter.wrong {
	background-color: var(--color-incorrect);
	color: white;
}
#board .letter.wrong {
	animation: incorrect 0.25s;
}

@keyframes incorrect {
	0%,50%,100% {
		translate: 0 0;
	}
	25%,75% {
		translate: 2px;
	}
}

.letterGuess.close, .letter.close {
	background-color: var(--color-misplaced);
	color: white;
}

.letterGuess.right, .letter.right, #letterChange.right {
	background-color: var(--color-correct);
	color: white;
}

.closeModal {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	border: none;
	background-color: transparent;
}
.closeModal:hover {
	cursor: pointer;
}

#credits {
	font-size: 10px;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	margin: 0;
}
#letterChange {
	padding: 0 6px;
	margin: 0 2px;
	min-width:41px;
	border: 2px solid var(--foreground-tertiary);
	border-radius: 4px;
	display: inline-block;
	background-color: var(--color-default);
	cursor:pointer;
}

dialog {
	background-color: var(--background-secondary);
	border: none !important;
  	border-radius: 20px;
  	box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  	padding: 0.4rem 3rem;
  	max-width: 400px;
}
dialog::backdrop {
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
}

dialog#end {
	text-align: center;
}
.share {
	border: none;
	background-color: VAR(--color-correct);
	color: white;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 10px;
	position: relative;
	top: 0;
	transition: 0.25s ease-out;
	box-shadow: none;
}

.share:hover {
	top: -3px;
	box-shadow: 0 0 #0000, 0 0 #0000, 0 5px 20px -12px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
	#board .letter {
		width: 35px;
		height: 35px;
		font-size: 18px;
		border-radius: 5px;
	}
	#keyboard .letter {
		min-width: 28px;
		height: 28px;
		font-size: 14px;
	}
}

#dark-mode-toggle {
	box-sizing: border-box;
	background-color: transparent;
	color: var(--foreground-tertiary);
	background-color: var(--background-secondary);
	padding: 3px;
	width: 28px;
	height: 28px;
	font-size: 18px;
	position: absolute;
	top: 10px;
	right: 10px;
	border: 2px solid var(--foreground-secondary);
	border-radius: 4px;
}
#dark-mode-toggle i {
	color: var(--foreground-secondary);
}

#dark-mode-toggle:hover {
	border-color: var(--foreground-primary);
	
}
#dark-mode-toggle:hover i {
	color: var(--foreground-primary);
}