@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

.header {
	text-align: center;
	padding: 20px 0;
}

.header * {
	margin: 5px;
}

#board {
	width: 200px;
	margin: 10px auto;
}

.letterGuess {
	font-size: 25px;
	height: 45px;
	width: 45px;
	margin: 2px;
	padding: 0;
	color: #4f5c5d;
	border: 2px solid #7f8c8d;
	border-radius: 5px;
	text-align: center;
}

#keyboard {
	text-align: center;
	vertical-align: middle;
}

#keyboard div {
	display: flex;
	justify-content: center;
}

.letter {
	background-color: white;
	display: block;
	font-size: 16px;
	margin: 2px;
	padding: 5px 7px;
	min-width: 32px;
	border: 1px solid #7f8c8d;
	border-radius: 4px;
  	text-align: center;
}

.letter:hover {
	cursor: pointer;
}


.letterGuess.wrong, .letter.wrong {
	background-color: #7f8c8d;
	color: white;
}

.letterGuess.close, .letter.close {
	background-color: #f1c40f;
	color: white;
}

.letterGuess.right, .letter.right {
	background-color: #2ecc71;
	color: white;
}

.modal {
	display: none;
	transition: 0.5s;
	z-index: 1;
	position: fixed;
	width: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5px 20px;
	background-color: white;
	border: 2px solid #3f4c4d;
	border-radius: 2px;
	box-shadow: 2px 3px 7px 3px rgba(40, 40, 40, 0.3);
	text-align: center;
}

.modal.open {
	display: block;
	top: calc(50% - 100px);
}

.modal .button {
	display: inline-block;
	background-color: #2ecc71;
	padding: 7px 10px;
	border: 2px solid #3f4c4d;
	border-radius: 5px;
	color: black;
	margin: 15px 0 5px 0;
}
.modal .button:hover {
	cursor: pointer;
}
.modal h2 {
	margin: 10px 0 5px 0;
}
.modal p {
	margin: 5px 0;
}

#closeModal {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 20px;
}
#closeModal:hover {
	cursor: pointer;
}

#credits {
	font-size: 10px;
	position: fixed;
	bottom: 0;
}
#letterChange {
	padding: 0 6px;
	margin: 0 2px;
	border: 2px solid #7f8c8d;
	border-radius: 4px;
	display: inline-block;
	background-color: white;
}

@media screen and (max-width: 1000px) {
	.game {
		position: fixed;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		margin: 0 auto;
		
	}
	.header {padding: 0 0 5px 0}
	.header h1 {
		font-size: 40px;
	}
	#keyboard {
		margin-top: 20px;
	}
	#board {
		width: calc(100vw - 150px);
		margin: 10px auto;
	}
	.letterGuess {
		box-sizing: border-box;
		font-size: 8vw;
		height: calc(calc(100vw - 190px)/4);
		width:  calc(calc(100vw - 190px)/4);
		margin: 5px;
		padding: 0;
		color: #4f5c5d;
		border: 0.85vw solid #7f8c8d;
		border-radius: 2vw;
		text-align: center;
	}
	
}
