#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --size-keyboard: 30px;
  --height-keyboard: calc(var(--size-keyboard) * 1.157);
  --margin-keyboard: 2px;
  --font-size-keyboard: 16px;
  
  --size-guess: 60px; 
  --height-guess: calc(var(--size-guess) * 1.157);
  --margin-guess: 2px;
  --font-size-guess:32px;

  --letter-color--default: white;
  --letter-color--correct: #59A96A;
  --letter-color--misplaced: #FFB833;
  --letter-color--incorrect: #FF4A47;
  --letter-color--disabled: #9F9FA8;
}

.keyboard, .keyboard-row {
  font-size: 0;
}

.keyboard-row {
  margin-bottom: calc(var(--margin) - calc(var(--height) * 0.18));
}

.keyboard-letter, .keyboard-spacer, .guess-letter {
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  border:none;
  position: relative;
  color: black;
}

.keyboard-letter, .keyboard-spacer, .keyboard-letter img, .keyboard-letter input {
  width: var(--size-keyboard);
  height: var(--height-keyboard);
}
.keyboard-letter, .keyboard-spacer {
  margin: 0 var(--margin-keyboard);
  font-size: var(--font-size-keyboard);
}

.guess-letter, .guess-letter img, .guess-letter--input {
  width: var(--size-guess);
  height: var(--height-guess);
}
.guess-letter {
  margin: 0 var(--margin-guess);
  font-size: var(--font-size-guess);
}

.guess-letter--input {
  display: inline-block;
  vertical-align: middle;
}

.keyboard-letter input, .guess-letter .guess-letter--input {
  z-index: 5;
  padding: none;
  margin: none;
  border: none;
  color: black;
}

.keyboard-letter img, .guess-letter img {
  object-fit:contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-filter: drop-shadow(1px 1px 2px #222);
  filter: drop-shadow(1px 1px 2px #222);
}

/*.keyboard-letter.correct, .guess-letter.correct {
  background-color: var(--letter-color--correct);
}

.keyboard-letter.misplaced, .guess-letter.misplaced {
  background-color: var(--letter-color--misplaced);
}

.keyboard-letter.incorrect, .guess-letter.incorrect {
  background-color: var(--letter-color--incorrect);
  color: white;
}

.keyboard-letter:disabled {
  background-color: var(--letter-color--disabled);
  color: rgb(200, 200, 200);
}

.keyboard-letter.selected {
  background-color: white;
  box-shadow: 1px black;
  color: black;
}*/

.guess-letter {
  margin-bottom:5px;
  
}

.keyboard-letter input {
  background-color: rgba(0,0,0,0);
  font-size:var(--font-size-keyboard);
  padding: none;
  display: inline-block;
}

dialog {
  z-index: 10;
  
}